<package-def>
    <class name="МетодыОбщегоНазначения"        file="src/oscript-common-methods.os"/>
    <class name="Автотесты"                     file="src/oscript-autotesting.os"/>
    <class name="КонтрольКачестваКода"          file="src/oscript-check-code-quality.os"/>
    <class name="РезервноеКопированиеБазДанных" file="src/oscript-make-database-copy.os"/>
</package-def>
